*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
}
#main{
    width: 100%;
    border: solid 2px black;
}
a{
    text-decoration: none;
}
ul{
    list-style: none;
}
#head{
    color: white;
    max-width: 1200px;
    margin: auto;
}
nav{
    background-color: black;
}
nav ul li img{
    width: 20px;
    height: 25px;
}
nav ul li a{
    color: white;
    font-size: 12px;
}
nav ul{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
nav ul li:nth-child(2){
    position: relative;
    width: 300px;
}
nav ul li:nth-child(2) input{
    width:100%;
    height: 40px;
    border-radius:5px;
    outline: none;
    padding-left: 5px;
}
nav ul li:nth-child(2) i{
    position: absolute;
    font-size: 20px;
    right: 12px;
    color: black;
    line-height: 40px;
}

nav ul li:nth-child(3) button{
    height: 40px;
    padding: 0 12px;
    background-color: transparent;
    color: white;
    border: 1px solid #ddd;
    border-radius: 5px;
    transition: all 0.3s ease;
    cursor: pointer;
}
nav ul li:nth-child(3) button:hover{
    background-color: rgb(100,97, 97);
}
nav ul li:nth-child(4){
    text-align: center;
    font-size: 12px;
    cursor: pointer;
    display: none;
}
nav ul li:nth-child(4):hover{
    color: yellow;
}
nav ul li:nth-child(6){
    font-size: 12px;
    cursor: pointer;
}
nav ul li:nth-child(6):hover{
    color: yellow;
}
nav ul li:nth-child(5){
    font-size: 12px;
    cursor: pointer;
}
nav ul li:nth-child(5):hover{
    color: yellow;
}
nav ul li:nth-child(7){
    text-align: center;
    font-size: 13px;
    cursor: pointer;
}
nav ul li:nth-child(7):hover{
    color: yellow;
}
#body{
    display: flex;
    flex-direction: column;
    align-items: center;
}
#container-body{
    width: calc(80%);
    float: left;
    text-align: center;
}
.container{
    width: 100%;
    border: solid 2px aqua;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: flex-start;
}
.item{
    width: calc(33.33% - 10px);
    margin:5px;
    border: 2px solid red;
    border-radius: 10px;
    text-align: center;
    padding-bottom: 10px;
}
.item div{
    margin: 5px;
    padding: 5px;
}
.item img{
    width: 100%;
    height: 400px;
}
.item button{
    height: 30px;
    padding: 0 12px;
    cursor: pointer;
    border: none;
    border-radius: 5px;
    transition: all 0.3s ease;
}
.item button:hover{
    background-color: tomato;
}
#body .loc{
    height: 30px;
    font-size: 20px;
    margin: 2px 0;
}
#container-body #sotrang div{
    display: inline-block;
    border: 2px solid red;
    padding: 5px;
    margin-right:5px;
    margin-top: 5px;
    cursor: pointer;
}
#container-body #sotrang div:hover{
    background-color:red;
}
.slider{
    height: 450px;
    padding: 20px 0;
    display: flex;
    justify-content: center;
    align-items: center;
}
.slider-content{
    width: 100%;
    height:100%;
    position: relative;
    transition: all 0.5s ease;
}
.slider-content img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.slider-content-btn{
    position: absolute;
    top: 50%;
    display: flex;
    justify-content: space-between;
    width: 100%;
}
.slider-content-btn i{
    color:black;
    font-size: 32px;
    height: 50px;
    width: 25px;
    background-color: #eae7e7;
    display: flex;
    justify-content: center;
    align-items: center;
    transform: translateY(-50%);
    border-radius: 5px;
    opacity: 0;
    transition: all 0.3s ease;
    cursor: pointer;
}
.slider-container{
    position: relative;
    width: 80%;
    height: 100%;
    overflow: hidden;
}
.slider-container:hover i{
    opacity: 1;
}
.slider-content img{
    position: absolute;
}
.slider-content img:nth-child(2){
    transform: translateX(100%);
}
.slider-content img:nth-child(3){
    transform: translateX(200%);
}
.slider-content img:nth-child(4){
    transform: translateX(300%);
}
.cart{
    width: 50%;
    margin: auto;
    text-align: center;
    padding-top: 30px;
    position: relative;
}
.cart h2{
    margin-bottom: 20px;
}
.cart table{
    width: 100%;
}
.cart table thead tr th{
    text-align: left;
}
.cart table tr td{
    border-bottom: 1px solid rgb(204, 200, 200);
    padding: 12px 0;
}
.cart table thead tr th:last-child{
    text-align: right;
}
.cart table tbody tr td:last-child{
    text-align: right;
}
.cart button{
    margin-top: 12px;
    height: 30px;
    padding: 0 20px;
    cursor: pointer;
    border: none;
    border-radius: 5px;
    transition: all 0.3s ease;
}
.cart button:hover{
    background-color: tomato;
}
.cart i{
    cursor: pointer;
    position: absolute;
    top: 10px;
    right: 10px;
}
.cart i:hover{
    color: red;
}
.cart{
    position: fixed;
    height: 100vh;
    width: 500px;
    top: 0;
    right: 0;
    background-color: rgb(221, 216, 216);
    padding: 12px 20px;
    overflow-y: scroll;
    right: -100%;
}
/* Phuoong thuc thanh toan */
.cart #thanhtoancart{
    margin: 10px 0;
}
.cart #thanhtoancart .methods{
    margin: 5px;
}
/* chon dia chi */
.cart #diachi_cart{
    margin-top:10px;
    margin-bottom: 20px;
}
.cart #diachi_cart .methoddc{
    margin: 5px;
}
.cart #diachiDetails{
    display: none;
} 
/* Lich su mua hang */
.lich-su-mh{
    width: 80%;
    margin: auto;
    text-align: center;
    padding-top: 20px;
    background-color: white;
    position: relative;
}
.lich-su-mh form{
    border-top:2px solid black ;
}
.lich-su-mh h2{
    margin-bottom: 30px;
}
.lich-su-mh table{
    width: 100%;
    padding: 0 40px;
    padding-top: 10px;
}
.lich-su-mh table tr th{
    border-bottom: 1px solid rgb(177, 174, 174);
    padding: 10px 0;
}
.lich-su-mh table tr td{
    border-bottom: 1px solid rgb(204, 200, 200);
    padding: 12px 0;
    text-align: center;
}
.lich-su-mh i{
    cursor: pointer;
    margin-bottom: 30px;
    position: absolute;
    right: 10px;
    top: 10px;
    font-size: 20px;
}
.lich-su-mh i:hover{
    color: red;
}
.lich-su-form{
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background-color: rgba(0,0,0,0.5);
    display:flex;
    align-items: center;
    justify-content: center;
    display: none;
    padding-top: 60px;
    overflow-y: scroll;
}
#danhsachsplsmh-form{
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background-color: rgba(0,0,0,0.4);
    display:flex;
    align-items: center;
    justify-content: center;
    display: none;
}
#danhsachsplsmh-form .danhsachsplsmh{
    background-color: white;
    width: 40%;
    margin:50px auto;
    text-align: center;
    padding-top: 30px;
    position: relative;
}

.danhsachsplsmh i{
    cursor: pointer;
    margin-bottom: 30px;
    position: absolute;
    top: 10;
    right: 20px;
}
.danhsachsplsmh i:hover{
    color: red;
}
#danhsachsplsmh-form .danhsachsplsmh table{
    width: 100%;
    text-align: center;
}
#danhsachsplsmh-form .danhsachsplsmh table tr th{
    border-bottom: 1px solid rgb(177, 174, 174);
    padding: 10px 0;
}
#danhsachsplsmh-form .danhsachsplsmh table tr td{
    padding: 10px 0;
    border-bottom: 1px solid rgb(177, 174, 174);
}
/* chi tiet san pham */
#chitietsp{
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background-color: rgba(0,0,0,0.5);
    display:flex;
    align-items: center;
    justify-content: center;
    display: none;
}
#chitietsp .item-ctsp{
    background-color: white;
    width: 40%;
    margin:8px auto;
    text-align: center;
    padding-top: 20px;
    position: relative;
}
#chitietsp .item-ctsp img{
    width: 60%;
    height: 300px;
}
#chitietsp .item-ctsp div{
    margin: 25px 30px;
    border-bottom:1px solid #dad7d7;
    padding: 2px 0;
}
#chitietsp i{
    cursor: pointer;
    margin-bottom: 30px;
    position: absolute;
    top: 10;
    right: 20px;
}
#chitietsp i:hover{
    color: red;
}
#chitietsp .ctbuttontsp button{
    font-size: 15px;
    border-radius: 5px;
    margin-bottom: 5px;
}
#chitietsp .ctbuttontsp button:hover{
    background-color: tomato;
}
#icon-user{
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background-color: rgba(0,0,0,0.5);
    display:flex;
    align-items: center;
    justify-content: center;
    display: none;
}
.thongtin-user{
    background-color: white;
    width: 30%;
    margin:50px auto;
    text-align: center;
    padding-top: 30px;
    position: relative;
}
.thongtin-user i{
    position: absolute;
    top: 10px;
    right: 10px;
}
.thongtin-user i:hover{
    color: red;
}
.thongtin-user p{
    margin: 10px;
}
.thongtin-user button:hover{
    background-color: blue;
}
/* Chuyen khoan */
#payment{
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background-color: rgba(0,0,0,0.5);
    display:flex;
    align-items: center;
    justify-content: center;
    display: none;
}
#payment .col{
    background-color: white;
    width: 40%;
    margin:50px auto;
    padding:0 10px;
}
#payment .col .head-col{
    text-align: center;
    padding: 5px 0;
    position: relative;
}
#payment .col .head-col .title-pay{
    font-size: 20px;
    color: black;
    padding-bottom:5px;
    text-transform: uppercase;
}
#payment .col .head-col i{
    position: absolute;
    top: 0;
    right: 5px;
}
#payment .col .head-col i:hover{
    color: red;
}
#payment .col .inputbox{
    margin: 15px 0;
}
#payment .col .inputbox span{
    margin-bottom:10px;
    display: block;
}
#payment .col .inputbox input{
    width: 50%;
    border: 1px solid #ccc;
    padding: 10px 15px;
    font-size: 15px;
    text-transform: none;
}
#payment .col .inputbox input:focus{
    border: 1px solid #000;
}
#payment .col .flex{
    display: flex;
    gap: 15px;
}
#payment .col .flex .inputbox{
    margin-top: 5px;
}
#payment .col .inputbox img{
    height: 60px;
    width: 300px;
    margin-top: 5px;
    filter: drop-shadow(0 0 1px #000);
}
#payment .col .submit-payment{
    width: 100%;
    padding: 12px;
    font-size: 17px;
    background: #27ae60;
    color: #fff;
    cursor: pointer;
}
#payment .col .submit-payment:hover{
    background: #2ecc71;
}
#footer{
    clear: both;
    height: 400px;
    line-height:30px;
    border: solid rgb(234, 226, 226) 2px;
    background-color:white;
    color:black;
    margin-top: 10px;
}
#footer div{
    float: left;
    width: 33.33%;
    text-align: center;
}
#footer div p{
    padding-left: 180px;
    text-align: left;
    font-size: 12px;
}
