*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}
#Dangky{
    width: 35%;
    margin: 200px auto;
    background-color: white;
}
#pageDk{
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    /* background: url(img/bg.png); */
    display:flex;
    align-items: center;
    justify-content: center;
    display: none;
}
#pageLogin{
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    /* background: url(img/bg.png); */
    display:flex;
    align-items: center;
    justify-content: center;
    display: none;
}
#dangnhap{
    width: 35%;
    margin: 200px auto;
    background-color: white;
}
#dangnhap form{
    border: 2px solid black;
}
.form{
    position: relative;
    padding: 5px;
}
#head-model{
    text-align: center;
    font-size: 25px;
    margin-top: 10px;
    position: relative;
}
#head-model i{
    position: absolute;
    top:0;
    right: 10px;
}
#head-model i:hover{
    color: red;
}
.containerf{
    display: flex;
    justify-content: center;
    margin: 15px 0;
}
.containerf input{
    height: 50px;
    width: 80%;
    border-radius: 10px;
    padding-left: 5px;
    border: 2px solid darkseagreen;
    outline: none;
}
.containerf input::placeholder{
    color: black;
}
a{
    text-decoration: none;
    color:rgb(19, 94, 82);
}
.acount{
    position: absolute;
    right: 55px;
    bottom: 0;
    cursor: pointer;
}
.acount:hover{
    color: rgb(19, 94, 82);
}
#footer-model{
    text-align: center;
    padding: 10px 0;
}
#footer-model button{
    border-radius: 5px;
    background-color: rgb(19, 94, 82);
    width: 80px;
    height:35px;
}
#footer-model button:hover{
    background-color: aquamarine;
    cursor: pointer;
}