*{
    box-sizing: border-box;
}
#main{
    width: 100%;border: 3px solid black;
}
a{
    text-decoration: none;
}
ul,li{
    margin: 0px;
    padding: 0px;
    list-style: none;
}
.divoful{
    border: 3px solid blue;
    margin: 7px 0px;
}
.divoful li{
    margin: 2px;
    border: 2px solid red;
    display: inline-block;
    padding: 7px;
    background-color: blue;
    position: relative;
}
.divoful li ul{
    position: absolute;
    display: none;
    width: max-content;
    left: 0;
    top: 30px;
}
.divoful li:hover > ul{
    display: block;
}
.divoful li ul li{
    display: block;
    position: relative;
}
.divoful li ul li ul{
    position: absolute;
    left: 100px;
}

#head{
    text-align: center;
    height: 150px;
    line-height: 150px;
    border: solid 3px red;
    background-color: aquamarine;
    position: relative;
}
.head-item{
    position: absolute;
    border: 2px solid blue;
    text-align: center;
    line-height: 30px;
    bottom: 0;
    right: 0;
}
.head-inf{
    position: absolute;
    border: 2px solid yellow;
    line-height: 30px;
    left: 50px;

}
.head-item div{
    border: 2px solid red;
    margin: 2px;
    display: inline-block;
}
#left{
    float: left;
    width: 20%;
    border: 3px solid red;
    padding: 10px;
}
#left div{
    border: 3px solid blue;
    padding: 20px;
    background-color: green;
    margin: 5px;
}
#container-center{
    float: left;
    width: calc(60% - 4px);
    border: 3px solid red;
    margin: 0 2px;
    text-align: center;
}
#sotrang div{
    display: inline-block;
    border: 3px solid red;
    padding: 6px;
}
#sotrang div:hover{
    background-color: blue;
}
#center{
    display: flex;
    flex-wrap: wrap;
    flex-direction:row;
    justify-content: flex-start;
}
.center-item{
    border: 2px solid red;
    width:calc(33.33% - 10px);
    margin:5px;
    padding: 0px 5px;
}
.center-item div{
    border-bottom:2px black solid;
    margin: 10px;
    text-align: left;
}
.center-item img{
    border: 5px solid blue;
    border-radius: 100%;
    width: 100%;
}
.center-item div span{
    border: 3px solid red;
    padding: 2px;
    margin-bottom: 3px;
}
#right{
    float: right;
    width: 20%;
    border: 3px solid red;
}
@media only screen and (max-width: 700px){
    .divoful li{
        border: solid 2px red;
        padding: 7px;
        background-color: aqua;
        display:block;
    }
    #right{
        display: none;
    }
    #center{
        float: left;
        width: calc(80% - 4px);
        border: 3px solid red;
        margin: 0 2px;
    }
    .center-item{
        border: 2px solid red;
        width:calc(50% - 10px);
        margin:5px;
    }
}

#footer{
    clear: both;
    height: 150px;
    border: 3px solid red;
    line-height: 150px;
    text-align: center;
    background-color: rgba(131, 64, 64, 0.5);
}
.divoful li:hover{
    background-color: aquamarine;
    cursor: pointer;
}
a:hover{
    background-color: aquamarine;
}
.model{
    position: fixed;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    background-color: gray;
    display: none;
}
#left ul li{
    padding: 10px;
    margin: 2px;
}