*{
    box-sizing: border-box;
}
#main{
    height: 100vh;
    border: 2px solid black;
    position: relative;
}
form{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    border: solid black 2px;
}
#head{
    height: 20px;
    background-color: red;
    font-size: 20px;
    text-align: center;
}
.model{
    display: flex;
    padding-right: 80px;
    margin: 100px 80px;
}
.item1{
    width: 40%;
}
.item2{
    width: 60%;
}
#foot{
    text-align: center;
}