*{
    box-sizing: border-box;
}
#main{
    width: 100%;
}
#head{
    height: 150px;
    background-color: black;
    position: relative;
}
.head-logo img{
    width: 100px;
    height: 100px;
}
.head-icon1 img{
    width: 30px;
    height: 30px;
    border: 2px black solid;
    border-radius:100% ;
    background-color: white;
}
.head-icon2{
    position: absolute;
    top: 0;
    right: 20px;
}
.head-icon2 img{
    width: 30px;
    height: 30px;
    border: 2px black solid;
    border-radius:100% ;
    background-color: white;
}
ul li{
    margin: 0;
    padding: 0;
}
.head-menu{
    position: absolute;
    bottom: 0;
    right: 20px;
}
.head-menu ul li{
    border: 2px solid red;
    margin: 2px;
    padding: 7px;
    display: inline-block;
    color:white
}
#backg{
    height: 600px;
    background-color: antiquewhite;
}
#body{
    position: relative;
    height: 1270px;
}
#body-item{
    position: absolute;
    top: -300px;
    border: 2px black solid;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: flex-start;
    margin: 100px;
}
#body-item .item{
    width:calc(25% - 20px);
    margin:10px;
    border: 2px black solid;
    border-radius: 5%;
    cursor: pointer;
    position: relative;
}
#body-item .item div{
    text-align: center;
}
.item img{
    width: 100%;
    border-radius: 5%;
}
#body-item .item span{
    position: absolute;
    top:50%;
    left: 15%;
    border: 2px red solid;
    width: 70%;
    text-align: center;
    display: none;
}

#body-item .item span{
    display: block;
}
#body-item2{
    position: absolute;
    bottom: 20%;
    left: 35%;
}
#body-item2 h2{
     text-align: center;
}
#body-item2 input{
    border: 2px black solid;
    margin-left: 30%;
}
#footer{
    clear: both;
    height: 250px;
    background-color: black;
}
#footer div{
    color:red;
    float: left;
}
#footer img{
    height: 100%;
    width: 100%;
}
#footer .item{
    width: 25%;
    text-align: center;
}